{{define "base"}}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{.Title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/static/css/styles.css" rel="stylesheet" />
</head>
<body>

<header>
  <div class="header-inner">
    <div class="brand">Forum</div>
    <nav>
      <a href="/">Home</a>
      {{if .UserID}}
        <a href="/post/new" class="primary">New Post</a>
        <form action="/logout" method="post" style="display:inline">
          <button type="submit">Logout</button>
        </form>
      {{else}}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      {{end}}
    </nav>
  </div>
</header>

<main class="container">
  {{template "_flash.html" .}}
  {{template "content" .}}
</main>

<footer class="container footer">
  <small>SQLite • Go • Docker ---</small>
  <small>Fredy ® </small>
</footer>

<script src="/static/js/app.js"></script>
</body>
</html>
{{end}}

